header {
}


main {
	width: 1250px;
	margin: 10px auto;
	border: 1px solid black;
	list-style-type: none;
}

h1 {
	text-transform: uppercase;
	
}

#AR ul {
	list-style-type: none; 
}


#AR #ligne1 {
	display: flex;
	justify-content: space-around;
	border: 1px solid black
}

#AR #ligne2 {
	display: flex;
	justify-content: space-around;
	border: 1px solid black
}

