a{
	text-decoration : none;
	color : black;
}
header{
	display : flex;
	justify-content: space-around;
	border-bottom: solid black 2px;
	font-family: 'Lobster', cursive;
	color:white;
	text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
	background-color:black;
	background-image:url(fond_header_4.jpg);
	background-size: cover;
	top: 0;
	left:0;
	right: 0;
	position:absolute;
	position:fixed;
	width: 100%;
	height:10%;
	z-index: 15;

}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; 
 }

ul li{
 	 align-items: flex-start;
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 color:white;
 text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 border-top-right-radius: 50%;
 border-top-left-radius: 50%;
 border-color:black;
 margin-right: 2%;
 }
ul li a:hover {
 background-color:#B8860B;
 border-color:#A0522D #CD853F #CD853F #A0522D;
 } 
#h_recherche{
	font-size: 200%;
}

#h_search{
	display: flex;
	margin-right: 5%;
}
input{
	background-color: #DCDCDC;
	margin-top:28%;
	margin-left: 7%;
}
#h_menu{
	display:flex;
	margin-left:3.9%;
	align-items: flex-end;
}
#h_menu #Rec{
	background-color: #DAA520;
	border-top-right-radius: 50%;
 	border-top-left-radius: 50%;
}
body {
}
html{
	background-image:url(fond_header_5.jpg);
	background-size: cover;
	margin:auto;
	z-index:10;
}
#contenu{
	background-color: #DEB887;
	z-index:11;
	width: 75%;
	position: absolute; 
  	left: 0; 
  	right: 0; 
 	margin-left: auto; 
  	margin-right: auto; 
}
